@import "../resources/colors";
@import "../resources/animation.scss";

.instructionMouse {
  position: absolute;
  z-index: 3;
  background-color: $color1;
  box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  .textBox {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    h5 {
      color: $blanco;
    }
  }
  .iconBox {
    background-color: $color7;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    .icon {
      color: $blanco;
      font-size: 3em;
      margin-left: 0.3rem;
    }
  }
}

.instructionInfo {
  position: absolute;
  z-index: 3;
  background-color: $color1;
  box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  .textBox {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    h5 {
      color: $blanco;
    }
  }

  .iconBox {
    background-color: $color7;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    .icon {
      color: $blanco;
      font-size: 3em;
      margin-left: 0.3rem;
    }
  }
}
