@import "./resources/colors.scss";

.App {
  overflow: hidden;
  width: 1024px;
  height: 650px;
  border: 1px solid $color1;
  background-color: $blanco;
  margin: 0 auto;
  box-sizing: border-box;
}
